input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: inline-block;
	padding: 20px;
	background-color: #ccc;
	color: #999;
	cursor: pointer;
}

input[type="radio"]:checked + label {
	background-color: #aaa;
	color: #000;
}

.conbox {
	width: 500px;
	height: 600px;
	background-color: #aaa;
	margin: 0 auto;
	display: none;
}

input[id="tab01"]:checked ~ .con1 {
	display: block;
}

input[id="tab02"]:checked ~ .con2 {
	display: block;
}

input[id="tab03"]:checked ~ .con3 {
	display: block;
}

.tab_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}