@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;400&family=Poor+Story&display=swap');


body {
	font-family: 'nanumgothic';
	margin: 0;
	font-size: 13px;
}

a:hover { 
     text-decoration:none;
}

			/* navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F5ECE3;
	padding: 8px 12px;
	font-family:  'Caveat', cursive;
}

.navbar__logo i{
	color: #725b53;
	font-size: 45px;
	font-family:  'Caveat', cursive;
}

.navbar__menu {
	display: flex;
	list-style: none;
	padding-left: 0;
	font-size: 20px;
}

.navbar__menu li{
	padding: 8px 50px;
	font-weight: bold;
	position: relative;
}

.navbar__menu li:hover {
	opacity: 0.3;
	transition: 0.5s;
}

.navbar__menu li a{ 
	color: #725b53;
}

.navbar__menu li a:hover {
	color: red;
}

			/* icons */

.navbar__icons {
	list-style: none;
	color: #725b53;
	display: flex;
	padding-left: 0;
}

#youtube a:hover {
	color: red;
	transition: 0.5s;
}

#facebook a:hover {
	color: #3B589E;
	transition: 0.5s;
}

#instagram a:hover {
	color: #C562CA;
	transition: 0.5s;
}

.navbar__icons li {
	padding: 8px 12px;
	font-size: 24px;
}

.navbar__icons li a{ 
	color: #725b53;
}

			/* menuicon */
		
		
input[id="menuicon"] {
	display: none;	
}

input[id="menuicon"] + label {
	display: block;
	width: 30px;
	height: 20px;
	position: fixed;
	right: 0;
	top: calc(50% - 10px);
	transition: all .5s;
	cursor: pointer;
}

input[id="menuicon"]:checked + label {
	z-index: 2;
	right: 280px;
}

input[id="menuicon"] + label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #725b53;
	transition: all .5s;
}

input[id="menuicon"] + label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"] + label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
	bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

			/* sidebar */

div[class="sidebar"] {
	width: 280px;
	height: 100%;
	background: #725b53;
	position: fixed;
	top: 0;
	right: -280px;
	z-index: 1;
	transition: all .5s;
	font-family:  'Caveat', cursive;
	line-height: 1.2em;
}

div[class="sidebar"] a {
	color: #FFFFFF;
	font-size: 16px;	
	font-family: 'nanumgothic';
}

div[class="sidebar"] ul {
	padding-left: 0px;
	list-style: none;
}

.sidebar ul li a span {
	font-size: 16px;
	color: #FFFFFF;
}

.sidebar ul li i {
	font-size: 20px;
	color: #FFFFFF;
}

.sidebar ul li a:hover {
	opacity: 0.5;
	transition: 0.5s;
}

input[id="menuicon"]:checked + label + div {
	right: 0;
}

.darkmode {
	background-color: black;
	color: #FFFFFF;
	transition: 1s;
	
}

#darkmode_button {
	font-family: 'nanumgothic';
	font-size: 16px;
	color: #FFFFFF;
	background-color: #725b53;
	border: 0;
	outline:none;
	padding : 0;
}

			/* reaction */

@media screen and (max-width: 757px) {
.navbar {
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 24px;
	}
	
.navbar__menu {
	flex-direction: column;
	align-items: center;
	width: 100%;
	}
	
.navbar__menu li {
	width: 100%;
	text-align: center;
	}
	
.navbar__icons {
	justify-content: center;
	width: 100%;
	}
}

			/* title image */

.caption-0 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 90px;
	color: #FFFFFF;
	animation: fadein 3s;
	-webkit-animation: fadein 3s; 
	text-shadow: 0 0 2px #000000;
	font-family:  'Caveat', cursive;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


			/* line */

section.product-list {
	width: 100%;
	text-align: center;
	position: flex;
	margin-top: 6px;
}

section.product-list > div {
	display: inline-block;
	margin: 6px;
}

.caption-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 45px;
	color: #725b53;
}

.caption-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 35px;
	font-family:  'Caveat', cursive;
}

.caption-2 a{
	color: #725b53;
	display: table;
	width: 300px;
	height:200px;
	align-items: center;	
}

.caption-2 a span{
	display: table-cell;
	vertical-align:middle;
}

.caption-2 a:hover{
	color: red;
}

.title-image {
	position: relative;
}

.text-image {
	position: relative;
}

.text-image:hover {
	opacity: 0.3;
	transition: 0.5s;
	cursor: pointer;
}

			/* last navbar */

.last_navbar {
	font-family: 'nanumgothic';
	margin-top: 6px;
	color: #725b53;
	background-color: #F5ECE3;
	font-size: 14px;
}

.last_navbar_menu {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.last_navbar_menu div{
	margin: 10px;
}

.last_navbar_menu_title {
	font-weight: bold;
}	

			/* inner product */

.hover-area {
	position: relative;
}

.caption {
	width: 300px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	color: white;	
	opacity: 0;
	transition: 0.5s;	
}

.caption p {
	margin-top: 120px;
}

.caption a {
	color: #fff;
	text-decoration: none;
	padding: 6px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid white;
}

.caption a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: transparent;
}


.description b {
	display: block;
}

.description p button {
	cursor: default;
}

.hover-area:hover .caption {
	opacity: 1;
}

p button {
	font-size: 10px;
}

			/* login */
			


