@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'nanumgothic';
	font-size: 13px;
	line-height: 1.5em;
}

section.product-list {
	width: 1000px;
	text-align: center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/	
}

section.product-list > div {
	display: inline-block;
	margin: 10px;
	margin-bottom: 10px;
}

.hover-area {
	position: relative;
}

.caption {
	width: 300px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	color: white;	
	opacity: 0;
	transition: 0.5s;
}

.caption p {
	margin-top: 120px;
}

.caption a {
	color: #fff;
	text-decoration: none;
	padding: 6px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid white;
}

.caption a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: transparent;
}


.description b {
	display: block;
}

.hover-area:hover .caption {
	opacity: 1;
}
.carousel-inner { 
	width: 500px; 
	height: 400px; 
}

.carousel_family {
    width: 100%;
    height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.family01 {
	display: flex;
	justify-content: center;
    align-items: center;
}
